@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5f6fff;
}

/* custom grid utility */
@layer utilities {
  .grid-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* navbar underline logic */
@layer components {
  .nav-item hr {
    @apply hidden;
  }

  .nav-item.active hr {
    @apply block h-0.5 w-full bg-primary mt-1;
  }
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
